<p-toast></p-toast>
<div class="grid-container">
    <mat-card class="container">
        <mat-card-title>
            <div class="box">
                Dashboard<br>
            </div><br>
        </mat-card-title>
        <app-admindata></app-admindata>
    </mat-card>
</div>
<div class="grid-container">
    <app-widgetdata></app-widgetdata>
</div>
<div class="container">
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile style="border: solid 2px #000">
            <app-userdata></app-userdata>
        </mat-grid-tile>
        <mat-grid-tile style="  border: solid 2px #000;">
            <!--<app-staffdata>Staff</app-staffdata>-->
            <app-userdata></app-userdata>
        </mat-grid-tile>
    </mat-grid-list>
</div>