<!--<mat-table [dataSource]="dataSource" class="lessons-table mat-elevation-z8"  >
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let emprow; columns: displayedColumns" sticky="true"></tr>
  </mat-table>-->
<h2 style="text-align: left;">User Data</h2>
<mat-table class="table-container mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let emp">{{emp.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let emp">{{emp.firstname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let emp">{{emp.lastname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let emp">{{emp.email}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" sticky="true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(mytemplate,row)">
    </mat-row>
</mat-table>
<!--<mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
</mat-paginator>-->
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>


<ng-template #mytemplate>
    <!--   <h2>ID = {{rowID}}</h2>
    <h4>First Name = {{selectedUser.firstname}}</h4>
    <h4>Last Name = {{selectedUser.lastname}}</h4>
    <h4>Email = {{selectedUser.email}}</h4>
    <h4>Gender = {{selectedUser.gender}}</h4>
    <h4>Department = {{selectedUser.department}}</h4>
    <h4>Jobtile = {{selectedUser.jobtitle}}</h4>
    <h4>Project Name = {{selectedUser.project.name}}</h4>-->

    <div class="p-fluid p-grid p-formgrid">
        <div class="p-field">
            <label for="class">First Name</label>
            <strong> {{selectedUser.firstname}}</strong>
        </div>
        <div class="p-field">
            <label for="class">Last Name</label>
            <strong> {{selectedUser.lastname}}</strong>
        </div>

        <div class="p-field">
            <label for="class">Email</label>
            <strong> {{selectedUser.email}}</strong>
        </div>
        <div class="p-field">
            <label for="class">Job Title</label>
            <strong> {{selectedUser.jobtitle}}</strong>
        </div>
        <div class="p-field">
            <label for="class">Gender</label>
            <strong> {{selectedUser.gender}}</strong>
        </div>
        <div class="p-field">
            <label for="class">Department</label>
            <strong> {{selectedUser.department}}</strong>
        </div>
        <div class="p-field">
            <label for="class">Project</label>
            <strong> {{selectedUser.project.name}}</strong>
        </div>
    </div>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="onCloseDialog()">Close</button>
    </mat-dialog-actions>
</ng-template>