<mat-card class="grid-container" style="background-color: rgb(253, 255, 255);">
<mat-grid-list cols="3" rowHeight="80px">

    <mat-grid-tile  >
        <div>
            <strong style="font-size: large;"> Welcome {{userId}}</strong><br>
            </div>
    </mat-grid-tile>

    <!--<mat-grid-tile >
        <div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" id="filterGlobal" 
                placeholder="Search..." />
            </span>
          </div>
    </mat-grid-tile>
    <mat-grid-tile >
        <div>
            <button pButton pRipple id="new" label="Add New User" icon="pi pi-plus"
              class="p-button-rounded p-button-success" routerLink="/user"></button>
          </div>
    </mat-grid-tile>-->
  </mat-grid-list>
</mat-card>
